doctype html
html
    head
        title Vanguard - FRC Scouting App
        link(rel='stylesheet', href='/assets/generated-css/stylesheet.css')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        script(src='/javascripts/jquery-3.0.0.min.js')



    body.none.fill(style='background-image: url(../assets/pictures/circuit.png);')#body
        div.f-center(style='width:100%')
          .topnav
            div.f-center.heading(style='width:100%')
              h2=title
            div.f-left(style='width:5%;')
              p.grid-width=('')
            a.active(href='/') Home
            a(href='/scouting/MatchSchedule') Match Schedule
            a(href='/scouting/hangRank') Ranking
            a(href='/scouting/opponents?teamNumber=188') Opponents of 188

        div.spacing
        div.f-left(style='width:5%;')
            p.grid-width=('')
        div.f-left.page.mdc-card.margin-v-b.padding-b(style='width: 90%')
            h3 Queries below are for Team 188, change the url for other teams
            each index in links
              a.no-decor.f-left.center.grid-item.mdc-card(
                href = index.url)
                h1.none-m.grid-item=index.name
              p 

        .clear

        style(type='text/css').
            .matchNum{
                color: black;
            }
            
            .red{
                background: #FF5252;
                color: white;
            }
            .blue{
                background: #448aff;
                color: white;
            }
            .grid-width{
                width: 13%;
            }
            .grid-height{
                height: 40px;
            }
            .grid-item{
                width: 100%;
                height: 40px;
            }
            a{
                background-color: #dddddd;
                border: black;
                height: 100px;
                width: 150px;
                padding: 3px;
                display: inline;
                font-size: 16px;
                cursor: pointer;
            }
            p {
                width:150px;
                padding:3px;
                font-size: 16px;
            }

            heading{
              padding: 0px;
              margin-top: 0px;
            }

script(src='scripts/material-components-web.js')
        script.
            mdc.autoInit()
